body {
  text-align: center;
  background-color: #f0e8c5;
  background-image: url("https://www.syfy.com/sites/syfy/files/styles/920x514/public/2019/08/digimon-banner.jpg") no-repeat center;
}

div {
  margin-top: 15px;
}

.image-section {
  display: flex;
  justify-content: center;
}

.section-style {
  margin-right: 25px;
  margin-left: 25px;
  background-color: white;
}
